" search for actions: :actionlist <patter>

set number                        " line numbers

set hlsearch                      " highlight search occurrences
set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
set incsearch                     " show search results while typing
set wrapscan                      " searches wrap around the end of the file

set gdefault                      " substitute all occurrences in line per default
set history=10000                 " keep x lines of command line history
set scrolloff=5 sidescrolloff=10  " keep some lines before and after the cursor visible
set clipboard=unnamedplus,unnamed,ideaput " integrate with system clipboard

" set multiple-cursors
set commentary
set surround                      " emulate vim-surround plugin


" set <leader> to <space>
let mapleader = " "

nmap <leader>sf :action GotoFile<CR>
nmap <leader>st :action FindInPath<CR>
nmap <leader>ss :action StructuralSearchActions<CR>
nmap gr :action ShowUsages<CR>
nmap gd :action GotoImplementation<CR>

nmap <leader>lr :action RenameElement<CR>
nmap <leader>li :action Inline<CR>
nmap <leader>ls :action FileStructurePopup<CR>
nmap <leader>lw :action ActivateStructureInspectionToolWindow<CR>
nmap <leader>/ :action CommentByLineComment<CR>
nmap <C-t> :action ActivateTerminalToolWindow<CR>
nmap <leader>gp :action Diff.ShowDiff<CR>
nmap <leader>d :action FixDocComment<CR>
nmap P :action ShowErrorDescription<CR> 
" nmap W :action MoveCaretToEndOfLine<CR>
" nmap B :action MoveCaretToStartOfLine<CR>
